.index {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 12px;
    background-color: #FFFFFF;
    .msg {
        font-size: 14px;
        color: #FF5151;
    }
}