.index {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #FFFFFF;
    .msg {
        font-size: 14px;
        color: #FF5151;
    }
}