.index {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #FFFFFF;
    .msg {
        margin-top: 12px;
        font-size: 14px;
        color: #FF5151;
    }
    .btn {
        margin-top: 12px;
        padding: 0 12px;
        height: 30px;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
        background-color: #FF5151;
        color: #FFFFFF;
        border-radius: 4px;
    }
    .vuex-test {
        margin-top: 12px;
        display: flex;
        align-items: center;
        .count {
            font-size: 16px;
        }
        &-btn {
            padding: 0 12px;
            height: 30px;
            margin-left: 24px;
            border: 1px solid #E5E5E5; /*!no*/
            border-radius: 4px;
            text-align: center;
            line-height: 30px;
        }
    }
}